{extend name="public/base"}

{block name="css"}
<!-- iCheck -->
<link href="__CSS__/icheck/green.css" rel="stylesheet">
{/block}

{block name="content"}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{$meta_title}</h3>
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>用户信息<small>User Info</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <form class="form-horizontal form-label-left" novalidate method="post">

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">用户名 :</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="username" class="form-control col-md-7 col-xs-12"  name="username" required="required" type="text" value="{$info['username']|default=''}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nickname">昵称 :</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="nickname" class="form-control col-md-7 col-xs-12"  name="nickname" required="required" type="text" value="{$info['nickname']|default=''}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">密码 :</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="password" class="form-control col-md-7 col-xs-12"  name="password" required="required" type="password" >
                                </div>
                            </div>


                            <div class="item form-group hide">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">邮箱 :</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="email" type="text" name="email"  class="optional form-control col-md-7 col-xs-12" value="{$info['email']|default=''}">
                                </div>
                            </div>
                            <div class="item form-group hide">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">手机号 :</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="phone" type="text" name="phone"  class="optional form-control col-md-7 col-xs-12" value="{$info['phone']|default=''}">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3">性别:</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    男:<input type="radio" class="flat" name="sex" value="1" checked {if isset($info['sex']) && $info['sex']==1}checked{/if}/>
                                    女:<input type="radio" class="flat" name="sex" value="2"   {if isset($info['sex']) && $info['sex']==2}checked{/if}/>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3">状态:</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    激活:<input type="radio" class="flat" name="status" value="1" checked  {if isset($info['status']) && $info['status']==1}checked{/if}/>
                                    禁用:<input type="radio" class="flat" name="status" value="0"  {if isset($info['status']) && $info['status']==0}checked{/if}/>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <input type="hidden" name="id" value="{$info['id']|default=''}">

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="button" class="btn btn-primary return-back" >取消</button>
                                    <button id="send" type="submit" class="btn btn-success ajax-post" target-form="form-horizontal">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{/block}
{block name="js"}
<!-- validator -->
<script src="__STATIC__/js/validator.js"></script>
<!-- iCheck -->
<script src="__STATIC__/js/icheck.min.js"></script>
{/block}